.App {
  text-align: center;
}

.name {
  color: chocolate;
  font-size: 2rem;
  font-style: italic;
}

.address {
  color: brown;
  font-size: 2rem;
  font-style: oblique;
}
.profile img {
  width: 150px;
  height: 150px;
}
